
.backgroundImage{
  
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

  background: url(https://res.cloudinary.com/djg8mmre8/image/upload/v1675334246/BackgroundWithIronhackLogo_awh24n.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;

}

.canvas{
  margin-right: 23vw;
}

  .game-intro {
      margin-left: 2vw;
      width: 300px;
      display: flex;
      float: left;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: flex-start;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 15px;
     float: left;
     height: 500px;
  }
  
  .arrows{
   float: left;
   padding: 0% 5%;

  }
  
  body {
    padding: 0;
    text-align: center;
  }
  

  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
    margin-top: -10px;
  }
  
  .logo-img {
    width: 250px;
    margin-bottom: 30px;
   
  }
  
  .arrows-img {
    width: 150px;
  }

  #audioButton{
    background-color: transparent;
  }

  #muteImage{
    width: 50px;
  }
  .changeImagePosition{
    position: absolute;
    margin-left: 1000px;
    margin-bottom: 500px;
    
  }

  
  body button {
    font-size: 20px;
    background-color: #2E266D;
    color: #fff;
    padding: 10px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: -5px;
    
    
  }
  .buttonsContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #player2start{
    margin-top: px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }

  .backgroundImage p{
    font-weight: bold;
    
  }

  #or{
    font-size: x-large;
  }

  #restartButton{
    margin-top: 40px;
    padding: 20px 40px;
  }

   

