
.backgroundImage{
  
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;

  background: url(/docs/assets/BackgroundWithIronhackLogo.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;

}

  .game-intro {
    
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: flex-start;

  }
  
  .arrows{
   float: left;
   padding: 0% 5%;

  }
  
  body {
    padding: 0;
    text-align: center;
  }
  

  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  .logo-img {
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
   
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 1px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }

  .backgroundImage p{
    font-weight: bold;
    
  }

  .game-intro{
    background-color: white;
    background-clip: content-box;
   float: left;
  }

  .introduction{
    margin-bottom: 60px;
    margin-top: 0px;
  }