
.backgroundImage{
  
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

  background: url(/docs/assets/BackgroundWithIronhackLogo.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;

}

.canvas{
  margin-right: 23vw;
}

  .game-intro {
      margin-left: 2vw;
      width: 300px;
      display: flex;
      float: left;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: flex-start;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 15px;
     float: left;
     height: 500px;
  }
  
  .arrows{
   float: left;
   padding: 0% 5%;

  }
  
  body {
    padding: 0;
    text-align: center;
  }
  

  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
    margin: 10px
  }
  
  .logo-img {
    width: 250px;
    margin-top: 40px;
    margin-bottom: 50px;
   
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 1px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }

  .backgroundImage p{
    font-weight: bold;
    
  }

